   html { 
        background-image: url("../öving fredag 03.19 meny/brooke-lark-kXQ3J7_2fpc-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment:fixed;
        background-position: center;
        
    }
